<template>
    <div class="main">
        <h1>11.2 期约Promise</h1>
        <h2>11.2.1 Promises/A+规范</h2>
        <p>ECMAScript 6 增加了对 Promises/A+规范的完善支持，即 Promise 类型。一经推出， Promise 就大受欢迎，成为了主导性的异步编程机制。所有现代浏览器都支持 ES6 期约，很多其他浏览器 API（如fetch()和 Battery Status API）也以期约为基础。</p>
    </div>
</template>

<script>
export default {

}
</script>

<style lang='less' scoped>

</style>