<template>
  <div class='home'>
    <a-row>
      <a-col class="main" :span="20" :push="4">
        <div class="main-div" id="qk-container">
          <div class="tab-list">
            <div class="window-tab">窗口1</div>
            <div class="window-tab">窗口2</div>
            <div class="window-tab">窗口3</div>
          </div>
          <router-view></router-view>
        </div>
      </a-col>
      <a-col class="left" :span="4" :pull="20">
        <div class="left-div">
          <div class='web-logo'>
            <router-link id="menu-title" to="/dashboard">
              <img src="../assets/logo.png" alt="">
            </router-link>
          </div>
          <a-menu :default-selected-keys="['1']" mode="inline">
            <!-- 菜单1 红宝书 -->
            <a-sub-menu key="sub1" title="JavaScript红宝书" >
              <a-menu-item-group key="g1" title="第十一章 期约Promise&异步函数">
                <a-menu-item key="1" >
                  <router-link to='/jsRedBook'></router-link>
                  11.2 期约Promise
                </a-menu-item>
              </a-menu-item-group>
              <a-menu-item-group key="g2" title="Item 2">
                <a-menu-item key="3">
                  Option 3
                </a-menu-item>
              </a-menu-item-group>
            </a-sub-menu>
            <!-- 菜单2 小工具 -->
            <a-sub-menu key="sub2" title="小工具">
              <a-menu-item key="5">
                <router-link to='/tools/score'></router-link>
                计分工具
              </a-menu-item>
              <a-sub-menu key="sub3" title="sub3">
                <a-menu-item key="7">
                  Option 7
                </a-menu-item>
              </a-sub-menu>
            </a-sub-menu>
            <a-sub-menu key="sub4" title="Micro Application">
              <a-menu-item key="9">
                <router-link to="/app1">BS2022</router-link>
              </a-menu-item>
              <a-menu-item key="10">
                <router-link to="/app2">App2</router-link>
              </a-menu-item>
            </a-sub-menu>
          </a-menu>
        </div>
      </a-col>
    </a-row>
  </div>
</template>

<script>
export default {
  components: {  },
  data() {
    return {
      menuList: [
        {
          menuId: 'M01',
          menuClass: 1,
          menuName: '目录',
          subMenuList: []
        },
        {
          menuId: 'M02',
          menuClass: 1,
          menuName: '菜单2',
          subMenuList: [
            {
              menuId: 'M0201',
              menuClass: 2,
              menuName: '菜单2-1',
              subMenuList: [
                {
                  menuId: 'M020101',
                  menuClass: 3,
                  menuName: '菜单2-1-1',
                }
              ]
            }
          ]
        },
        {
          menuId: 'M03',
          menuClass: 1,
          menuName: '菜单3',
          subMenuList: []
        },
        {
          menuId: 'M04',
          menuClass: 1,
          menuName: '菜单4',
          subMenuList: []
        },
        {
          menuId: 'M05',
          menuClass: 1,
          menuName: '菜单5',
          subMenuList: []
        },
      ],
      entryList: [
        {
          path: 'app1',
          entryName: 'app1',
          iconUrl: '../assets/bless.png',
        },
        {
          path: 'app2',
          entryName: 'app2',
          iconUrl: '../assets/bless.png',
        },
        {
          path: 'app2',
          entryName: 'app3',
          iconUrl: '../assets/bless.png',
        }, 
        {
          path: 'app2',
          entryName: 'app4',
          iconUrl: '../assets/bless.png',
        },
        {
          path: 'app2',
          entryName: 'app5',
          iconUrl: '../assets/bless.png',
        },
        {
          path: 'app2',
          entryName: 'app6',
          iconUrl: '../assets/bless.png',
        },
        {
          path: 'app2',
          entryName: 'app7',
          iconUrl: '../assets/bless.png',
        },
        {
          path: 'app2',
          entryName: 'app8',
          iconUrl: '../assets/bless.png',
        },
      ],
      TRUE: true
    }
  },
  props: {
    // msg: String
  },
  methods: {

  },
  created() {
    console.log(this.$route)
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style lang="less" scoped>
.home {
  width: 100vw;
  height: 100vh;
  padding-top: 10px;
  background-color: lightgray; /* 浏览器不支持的时候显示 */
	background-image: linear-gradient(to bottom right, #B3DEF2 10%, #F7F0E6 60%);
  .main, .left {
    padding: 0 10px;
  }
  .main-div, .left-div {
    border-radius: 8px;
    height: 96vh;
    overflow: auto;
    // border: 3px solid black;
  }
  .main-div {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    .tab-list {
      margin: 0 0 10px 0;
      display: flex;
      justify-content: flex-start;
      width: 300px;
      .window-tab {
        margin: 0 10px 0 0;
        padding: 0 5px 0 10px;
        width: 85px;
        height: 25px;
        border-radius: 20px;
        font-size: 14px;
        color: gray;
        background-color: antiquewhite;
      }
    }
  }
  .left-div {
    background-color: white;
    .web-logo {
      height: 60px;
      display: flex;
      justify-content: space-around;
      #menu-title {
        align-self: center;
        color: lightskyblue;
        font-size: 24px;
        font-weight: 600;
      }
      img {
        width: 100%;
        padding: 0 20px;
      }
    }
    // 修改左侧菜单栏 antd样式
    /deep/ .ant-menu-submenu-title {
      .ant-menu-title-content {
        font-size: 16px;
        color: rgb(110, 110, 110);
      }
      .ant-menu-submenu-arrow {
        color: rgb(110, 110, 110);
      }
    }
    // /deep/ .ant-menu-sub {
    //   background-color: #f3f3f3;
    // }
    // /deep/ .ant-menu-item-selected {
    //   background-color: #fdf8d8;
    // }
  }
}
</style>
