<template>
  <div v-show="!$route.path.match(/^\/app[0-9]/)" id="main">
  <!-- <div id="main"> -->
    <div id="bg"></div>
    <!-- 顶部菜单栏 -->
    <div class='navbar'>
      <div id='left-menu'>
        <!-- <div id="menu-btn" @click="clickMenuBtn"></div> -->
        <menu-btn :btnImg='testBtnImg' @click="clickMenuSelector"></menu-btn>
      </div>
      <div id="right-menu">
        <!-- <a-menu-item key="login">{{ login }}</a-menu-item> -->
        <menu-btn :btnImg='testBtnImg'></menu-btn>
      </div>
    </div>
    <!-- 菜单栏 -->
    <btn-bar class='menu-bar' :isShow="isShowMenuBar" @showDrawer='showDrawer'></btn-bar>
    <!-- 菜单栏 抽屉 -->
    <todolist :isVisible="isDrawerShow.includes('M01')" @onclose="onCloseDrawer('M01')"></todolist>
    <a-drawer title="备忘录" placement="right" :visible="isDrawerShow.includes('M02')" :after-visible-change="afterVisibleChange" @close="onCloseDrawer('M02')">
  
    </a-drawer>
    <!-- 搜索框 -->
    <search-bar></search-bar>
    <!-- qiankun子组件 入口 -->
    <div id="nav">
      <Entry :entryList='entryList'></Entry>
    </div>
    <!-- qiankun子组件 容器 -->
  </div>
  <!-- <div v-show="['/app1','/app2'].includes($route.path)" id='qk-container'></div> -->
  <div v-show="$route.path.match(/^\/app[0-9]/)" id='qk-container'></div>
  <!-- <div id='qk-container'></div> -->

</template>

<script>
import BtnBar from './index/btnBar.vue'
import Entry from './index/entry.vue'
import MenuBtn from './index/menuBtn.vue'
import SearchBar from './index/searchBar.vue'
import Todolist from './index/todolist.vue'

export default {
  components: { Entry, SearchBar, BtnBar, MenuBtn, Todolist },
  data() {
    return {
      isShowMenuBar: false,
      login: '登录',
      testBtnImg: require("../assets/todo.png"),
      isDrawerShow: [],
      menuList: [
        {
          menuId: 'M01',
          menuClass: 1,
          menuName: '目录',
          subMenuList: []
        },
        {
          menuId: 'M02',
          menuClass: 1,
          menuName: '菜单2',
          subMenuList: [
            {
              menuId: 'M0201',
              menuClass: 2,
              menuName: '菜单2-1',
              subMenuList: [
                {
                  menuId: 'M020101',
                  menuClass: 3,
                  menuName: '菜单2-1-1',
                }
              ]
            }
          ]
        },
        {
          menuId: 'M03',
          menuClass: 1,
          menuName: '菜单3',
          subMenuList: []
        },
        {
          menuId: 'M04',
          menuClass: 1,
          menuName: '菜单4',
          subMenuList: []
        },
        {
          menuId: 'M05',
          menuClass: 1,
          menuName: '菜单5',
          subMenuList: []
        },
      ],
      entryList: [
        {
          path: 'app1',
          entryName: 'app1',
          iconUrl: '../assets/bless.png',
        },
        {
          path: 'app2',
          entryName: 'app2',
          iconUrl: '../assets/bless.png',
        },
        {
          path: 'app2',
          entryName: 'app3',
          iconUrl: '../assets/bless.png',
        }, 
        {
          path: 'app2',
          entryName: 'app4',
          iconUrl: '../assets/bless.png',
        },
        {
          path: 'app2',
          entryName: 'app5',
          iconUrl: '../assets/bless.png',
        },
        {
          path: 'app2',
          entryName: 'app6',
          iconUrl: '../assets/bless.png',
        },
        {
          path: 'app2',
          entryName: 'app7',
          iconUrl: '../assets/bless.png',
        },
        {
          path: 'app2',
          entryName: 'app8',
          iconUrl: '../assets/bless.png',
        },
      ],
      TRUE: true
    }
  },
  props: {
    // msg: String
  },
  methods: {
    // 点击menubtn
    clickMenuSelector() {
      this.isShowMenuBar = this.isShowMenuBar === false? true:false
    },
    // 点击menuBar的按钮，弹出抽屉窗口
    showDrawer(menuId) {
      if(!this.isDrawerShow.includes(menuId)) {
        this.isDrawerShow.push(menuId)
      }
    },
    // 切换抽屉时动画结束后的回调
    afterVisibleChange() {
      
    },
    // 关闭抽屉窗口
    onCloseDrawer(menuId) {
      this.isDrawerShow.splice(this.isDrawerShow.indexOf(menuId), 1)
    },
    // 搜索框点击搜索
    onSearch(val, event) {
      console.log(val)
      console.log(event)
    },
    // 搜索框 按下回车，触发搜索 
    onPressEnter() {
      this.$refs.search.search()
    }
  },
  created() {
    console.log(this.$route)
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style lang="less" scoped>
@bgURL: url('../assets/Spring.jpg'); // 背景图url
@menuIconURL: url('../assets/menu.png'); // 菜单按钮icon

a {
  text-decoration: none;
}

#main {
  display: flex;
  flex-direction: column;
  #bg {
    position: absolute;
    width: 100vw;
    height: 100vh;
    background: @bgURL no-repeat;
    background-size: cover;
    z-index: -1;
  }
  .navbar {
    margin: 10px 15px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    // backdrop-filter: blur(5px);
    // color: white;
    #left-menu {
      justify-self: flex-start;
      display: flex;
      justify-content: flex-start;
    }
    #right-menu {
      justify-self: flex-end;
      // .bar-no-bg()
    }
  }
  .menu-bar{
    position: absolute;
    left: 15px;
    top: 70px;
  }
  #nav {
    align-self: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    width: 40vw;
    margin-top: 20px;
    padding: 0 1vw;
    text-align: center;
    color: white;
  }
}
#main::after{
  background-color: black;
  opacity: 0.5;
}

</style>
