<!-- dashboard -->
<!-- 组件index -->

<template>
    <div>
        <a-row>
            <a-col :span="6" :push="18">
                <div class="right">
                    <news></news>
                </div>
            </a-col>
            <a-col :span="18" :pull="6">
                <div class="main">
                    <div class="layer1">
                        <div class="weather">
                            <weather></weather>
                        </div>
                        <div class="todolist">
                            <div class="title-box">
                                <div class="color-block"></div>
                                <p class="title">待办事项</p>
                            </div>
                            <todolist :is-visible="true"></todolist>
                        </div>
                        <div class="wallpaper">
                            <div class="title">随机图片</div>
                            <wallpaper></wallpaper>
                        </div>
                    </div>
                    <div class="layer2">
                        <div class="epidemic">
                            <div class="color-block"></div>
                            <p class="title">实时疫情</p>
                            <epidemic></epidemic>
                        </div>
                        <div class="hotdot"></div>
                    </div>
                    <div class="layer3">
                        <div class="timeline"></div>
                    </div>
                </div>
            </a-col>
        </a-row>
    </div>
</template>

<script>
import todolist from '../index/todolist.vue'
import epidemic from '../index/epidemic.vue'
import weather from '../index/weather.vue'
import wallpaper from '../index/wallpaper.vue'
import news from '../index/news.vue'
import { defineComponent } from '@vue/runtime-core'

export default defineComponent ({
    setup() {
        
    },
    components: { todolist, epidemic, weather, wallpaper, news }
})
</script>

<style lang="less" scoped>
// 公共

.color-block {
    width: 37px;
    height: 10px;
}
.title {
    position: relative; // 因为色块是relative
    font-weight: 600;
    text-align: center;
}

.main {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    // border: 2px solid black;  
    //滚动条样式
    .layer1 {
        height: 280px;
        display: flex;
        justify-content: flex-start;
        // background-color: antiquewhite;
        .weather {
            margin-right: 10px;
            width: 15vw;
            height: inherit;
            border-radius: 8px;
            background-color: white;
        }
        .todolist {
            margin-right: 10px;
            padding: 0px 5px;
            // width: 260px;
            height: inherit;
            border-radius: 8px;
            background-color: white;
            // box-shadow: 0px 0px 10px #fff9ed;
            // overflow: auto;
            .title-box {
                
                .color-block {
                    position: relative;
                    top: 21px;
                    left: 118px;
                    background-color: rgb(255, 181, 70);
                }
                .title {
                    position: relative;
                }
                // .title::after {
                //     content: "     ";
                //     background-color: green;
                // }
            }
        }
        .wallpaper {
            margin-right: 10px;
            width: 30vw;
            height: inherit;
            overflow: hidden;
            background-color: white;
            border-radius: 8px;
            display: flex;
            flex-direction: column;
            justify-content: center;
        }
    } 
    .layer2 {
        margin-top: 10px;
        display: flex;
        justify-content: space-between;
        height: 167px;
        background-color: rgb(243, 195, 131);
        .epidemic, .hotdot {
            margin: 0 10px 0 0;
            width: 460px;
            height: inherit;
            background-color: aliceblue;
        }
        .epidemic {
            .color-block {
                position: relative;
                top: 21px;
                left: 220px;
                background-color: rgb(153, 247, 99);
            }
        }
    }
    .layer3 {
        margin-top: 10px;
        height: 190px;
        background-color: rgb(180, 236, 116);
        .timeline {
            height: inherit;
            background-color: antiquewhite;
        }
    }
}
.right {
    height: 91vh;
    overflow: auto;
    border-radius: 8px;
}
.right::-webkit-scrollbar {
    width: 4px;
    border-radius: 20px;
    background-color: white;
}
.right::-webkit-scrollbar-thumb {
    background-color: lightgray;
}
</style>
