<template>
    <div class="menu-box" v-show="isShow">
        <div class="menu-item" v-for="(item, index) in menuList" :key="index" @click="clickMenuBtn(item.menuId)">
            <div class="img">
                <img :src="item.itemIcon">
            </div>
            <span class="title">{{ item.menuName }}</span>
        </div>
    </div>
</template>

<script>
export default {
    data() {
        return {
            menuList: [
                {
                    menuId: 'M01',
                    menuName: '待办',
                    itemIcon: require('../../assets/todo.png'),
                    sort: 1
                },
                {
                    menuId: 'M02',
                    menuName: '计算器',
                    itemIcon: require('../../assets/todo.png'),
                    sort: 2
                },
                {
                    menuId: 'M02',
                    menuName: '计算器2',
                    itemIcon: require('../../assets/todo.png'),
                    sort: 3
                },
            ]
        }
    },
    methods: {
        // show() {
        //     this.isShow = true
        // },
        // hide() {
        //     this.isShow = false
        // }

        // 点击菜单按钮
        clickMenuBtn(menuId) {
            this.$emit('showDrawer', menuId)
        }
    },
    props: {
        isShow: {
            type: Boolean,
            default: false
        }
    }
}
</script>

<style lang="less" scoped>
.menu-box{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    background-color: white;
    border-radius: 2vw;
    padding: 0 0 10px 0;
    .menu-item{
        margin: 10px 0 10px 0;
        width: 3vw;
        height: 100%;
        display: flex;
        flex-wrap: wrap;
        .img{
            width: 3vw;
            height: 3vw;
            display: flex;
            justify-content: center;
            align-items: center;
            img{
                width: 2vw;
                height: 2vw;
            }
        }
        .title{
            width: 3vw;
            text-align: center;
            color: grey;
            font-size: 10px;
            font-weight: 600;
            white-space: nowrap;
        }
    }
    .menu-item:hover{
        transform: scale(1.1);
    }
}
</style>