<template>
    <router-link v-for="(item, index) in entryList" :to='item.path' :key='index'>
        <div class="entry"></div>
        {{ item.entryName }}
    </router-link>
</template>

<script>
export default ({
    data() {
        return {
        }
    },
    props: {
        entryList: {
            type: Array,
            default: () => {
                return []
            },
            required: true,
            // validator: function (value) {
            //     return value >= 0
            // }
        }
    }
    
})
</script>

<style lang="less" scoped>
@entryIconURL: url('../../assets/bless.png'); // 入口icon url

a {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    margin: 1vw;
    color: white;
}
.entry {
    width: 4vw;
    height: 4vw;
    border-radius: 2vw;
    background: @entryIconURL no-repeat;
    background-size: cover;
}
</style>>


