<template>
    <div class="box">
        <div class="domestic">
            <p class="title">国内确诊</p>
            <p v-if="epidemicData">{{ epidemicData?.domestic.confirmedNum }}</p>
            <p class="compare-to-yest">较昨日+{{ epidemicData?.domestic.confirmedIncr }}</p>
        </div>
        <div class="split-line"></div>
        <div class="guangdong">
            <p class="title">广东疫情</p>
            <p>{{ epidemicData?.guangdong.confirmedNum }}</p>

        </div>
        <!-- <div class="split-line"></div> -->
        <!-- <div class="foreign">
            <p class="title">国外疫情</p>
        </div> -->
    </div>
</template>

<script>
import axios from "axios"
// import { onMounted } from "@vue/runtime-core"

export default {
    // setup() {
    //     let epidemicData = {}
    //     // 获取疫情数据
    //     let getEpidemicData = () => {
    //         console.log("getEpidemicData")
    //         axios.get('https://route.showapi.com/2217-2?showapi_appid=938316&showapi_sign=c188a6f1b6254ea99a9f6724501fca6a')
    //         .then(res => {
    //             epidemicData = res.showapi_res_body
    //             console.log(epidemicData)
    //         })
    //     }
    //     onMounted(() => {
    //         getEpidemicData()
    //     })
    //     return {
    //         epidemicData,
    //         getEpidemicData
    //     }
    // },
    data() {
        return {
            epidemicData: {
                domestic: {
                    confirmedNum: null,
                    confirmedIncr: null
                },
                guangdong: {
                    confirmedNum: null,
                    confirmedIncr: null
                }
            }
        }
    },
    methods: {
        getEpidemicData() {
            console.log("getEpidemicData")
            axios.get('https://route.showapi.com/2217-2?showapi_appid=938316&showapi_sign=c188a6f1b6254ea99a9f6724501fca6a').then(res => {
                console.log(res)
                if (res && res.data) {
                    this.epidemicData.domestic.confirmedNum = res.data?.showapi_res_body.todayStatictic.confirmedNum
                    this.epidemicData.domestic.confirmedIncr = res.data?.showapi_res_body.todayStatictic.confirmedIncr
                    this.epidemicData.guangdong.confirmedNum = res.data?.showapi_res_body.todayDetailList[3].confirmedNum
                    // this.epidemicData.guangdong.confirmedIncr = res.data?.showapi_res_body.todayDetailList[3].confirmedNum
                    
                }else {
                    console.log("接口无数据https://route.showapi.com")
                }
            })
        }
    },
    created() {
        this.getEpidemicData()
    }
}
</script>

<style lang="less" scoped>
.box {
    display: flex;
    justify-content: space-around;
    .domestic, .guangdong, .foreign {
        width: 150px;
        height: 81px;
        // background-color: rgb(207, 202, 196);
    }
    .title {
        margin: 15px 0 0 0;
        font-weight: 600;
        font-size: 13px;
        text-align: center;
    }
    .title + p {
        margin: 0;
        font-weight: 700;
        font-size: 24px;
        text-align: center;
    }
    .compare-to-yest {
        text-align: center;
        color: gray;
        font-size: 12px;
    }
    .split-line {
        height: 50px;
        align-self: center;
        border-left: 1px solid lightgray;
    }
    .guangdong {

    }
}

</style>