<template>
    <div class="menu-btn">
        <img :src="btnImg">
    </div>
</template>

<script>
export default {
    props: {
        btnImg: {
            type: String,
            required: true,
        }
    }
}
</script>

<style lang="less" scoped>
.menu-btn{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 3vw;
    height: 3vw;
    border: none;
    border-radius: 2vw;
    backdrop-filter: blur(3px);
    img{
        width: 2vw;
        height: 2vw;
    }
}
.menu-btn:hover{
    transform: scale(1.1);
}
</style>