<template>
    <div class="main">
        <div class="head">
            <div class="color-block"></div>
            <p>今日热点</p>
        </div>
        <div class="select-box">
            <select name="channel" id="" @change="selectChannel($event.target.value)">
                <option v-for="channel,index in channelList" :value="channel.channelId" :key="index">{{ channel.name }}</option>
            </select>
        </div>
        <div id="first-img" v-if="news[0]?.img">
            <img :src="news[0].img" alt="">
        </div>
        <div class="news" v-for="item,index in news" :key="item.id" @mouseenter="showDesc(index)" @mouseleave="hideDesc">
            <a :href="item.link">
                <div :class="{'background': [0,1,2].includes(index)? true:false, 'news-item': true}">
                    <div class="index">{{ index+1 }}</div>
                    <div class="title">{{ item.title }}</div>
                </div>
                <!-- v-show="hoverIndex === index && item.desc" -->
                <div class="desc" v-show="hoverIndex === index && item.desc">{{ item.desc }}</div>
            </a>
        </div>
        <!-- <div class="newsDialog">
            <div class="overlay"></div>
            <div class="dialog"></div>
        </div> -->
    </div>
</template>

<script>
import axios from 'axios'
// import Qs from 'qs'

export default {
    data() {
        return {
            channelList: [],
            selectedChannel: '',
            news: [],
            page: 1,
            pageSize: 30,
            hoverIndex: null,
            axiosInstance: null
        }
    },
    methods: {
        // getNews() {
        //     axios.get("http://is.snssdk.com/api/news/feed/v51/").then(res => {
        //         console.log(res.data)
        //         if (res && res.data) {
        //             // res.data.forEach(element => {
                        
        //             // });
        //         }
        //     }).catch(err => {
        //         console.log('头条接口报错了：', err)
        //     });
        // }
        getNews() {
            // let param = {
            //     key: 'd268884b9b07c0eb9d6093dc54116018',
            //     type: 'tiyu'
            // }
            axios.get("http://v.juhe.cn/toutiao/index?key=d268884b9b07c0eb9d6093dc54116018&type=tiyu").then(res => {
                console.log(res)
                if (res.error_code === 0 && res.result) {
                    this.news = res.result?.data
                    this.page = res.result?.page
                    this.pageSize = res.result?.pageSize
                }
            })
        },
        getNewsBaiduApi() {
            axios.post('http://news.api.bdymkt.com/news', {
                channelID: '5572a108b3cdc86cf39001cd'
            }, {
                headers: {
                    'Content-Type': 'application/x-www-form-urlencoded',
                    'X-Bce-Signature': 'bce-auth-v1/8a600e57e17d4d6882feeb20d1935e03/2022-06-02T15:04:05Z/1800/host;x-bce-date/199e3a1ccf0aaed25cf46e31a60ed68e03861a4ed0b2bcfa5acfdff9ee06438d'
                }
            }).then(res => {
                console.log(res)
                console.log(res.showapi_res_code)
                console.log(res.showapi_res_body)

                if (res&&res.data&&res.data?.showapi_res_code === 0 && res.data?.showapi_res_body) {
                    this.news = res.data.showapi_res_body.pagebean?.contentlist
                }else {
                    console.log('yy新闻接口出错了！')
                }
            })
        },
        // 获取YY新闻频道
        getYYNewsChannels() {
            axios({
                method: 'post',
                url: 'https://route.showapi.com/109-34?showapi_appid=938316&showapi_sign=c188a6f1b6254ea99a9f6724501fca6a'
            }).then(res => {
                console.log(res)
                if(res&&res.data&&res.data?.showapi_res_code === 0 && res.data?.showapi_res_body) {
                    this.channelList = res.data.showapi_res_body?.channelList
                }
            })
        },
        // 获取YY新闻列表
        getYYnews(channel) {
            axios({
                method: "post",
                url: 'https://route.showapi.com/109-35?showapi_appid=938316&showapi_sign=c188a6f1b6254ea99a9f6724501fca6a',
                params: {
                    channelId: channel
                }   
            }).then(res => {
                console.log(res)
                if(res&&res.data&&res.data?.showapi_res_code === 0 && res.data?.showapi_res_body) {
                    this.news = res.data.showapi_res_body.pagebean?.contentlist
                }else {
                    console.log('yy新闻接口出错了！')
                }
            })
        },
        // 选中新闻频道
        selectChannel(val) {
            this.selectedChannel = val
            this.getYYnews(this.selectedChannel)
        },
        showDesc(index) {
            this.hoverIndex = index
        },
        hideDesc() {
            this.hoverIndex = null
        }
    },
    created() {
        // this.getNews()
        // this.getNewsBaiduApi()
        this.getYYNewsChannels()
        this.getYYnews(this.selectedChannel)
    }
}
</script>

<style lang="less" scoped>
.main {
    background-color: white;
    padding: 4px 8px 10px 8px;
    display: flex;
    align-items: center;
    .head {
        width: 85px;
        height: 32px;
        .color-block {
            width: 37px;
            height: 10px;
            background-color: rgb(255, 102, 102);
            position: relative;
            top: 15px;
            left: 34px;
        }
        p {
            position: sticky;
            left: 0;
            right: 0;
            margin-left: auto;
            margin-right: auto;
            font-weight: 600;
            text-align: center;
            line-height: 10px;
        }
    }
    .select-box {
        position: relative;
        top: -28px;
        left: 98px;
        select {
            border: none;
            width: 84px;
        }
    }
    #first-img {
        width: -webkit-fill-available;
        margin: 5px 0 10px 0;
        border-radius: 8px;
        display: flex;
        justify-content: center;
        overflow: hidden;
        img{
            width: fit-content;
            height: 150px;
            border-radius: 8px;        
        }
    }
    .news {
        align-self: flex-start;
        margin: 0;
        padding: 4px 0;
        width: -webkit-fill-available;
        .news-item {
            display: flex;
            justify-content: flex-start;
            color: black;
            .index {
                // margin: 0px 8px 0px 2px;
                // background-color: ;
                flex-shrink: 0;
                width: 25px;
                text-align: center;
                font-weight: 600;
                color: #bab4b4;
                // background-color: rgb(226, 226, 226);
                // border-radius: 8px;
                // display: inline;
            }
            .title {
                // display: inline;
            }
        }
        .desc {
            // width: 
            background-color: #f6f6f6;
            padding: 4px 8px;
            font-size: 12px;
            color: darkgray;
            // max-height: 100px;
            overflow: hidden;
            // 多行省略号
            display: -webkit-box;
            -webkit-box-orient: vertical;
            -webkit-line-clamp: 3;
            // 单行省略号
            // text-overflow: ellipsis;

        }
    }
    .background {
        background-color: #fcf2f3;
        border-radius: 4px;
    }
    .newsDialog {
        position: absolute;
        top: 0px;
        left: 0px;
        .overlay {
            position: absolute;
            width: 100vw;
            height: 100vh;
            background-color: black;
            opacity: 0.3;
        }
        .dialog {
            position: absolute;
            width: 80vw;
            height: 80vh;
            background-color: white;
            border-radius: 18px;
        }
    }
}
</style>
