<template>
    <div class="nav">
        <div ref="engine" class="engine" @click="clickSelector" >
            <span>{{ chosenEngineName }}</span>
            <!-- <option value="bing">Bing</option>
            <option value="baidu">百度</option>
            <option value="google">Google</option> -->
        </div>
        <div class='mask' v-show="isSelectorShow" @click="chooseEngine(-2)"></div>
        <ul ref="selector" v-show="isSelectorShow">
            <li v-for="(item, index) in engineList" :key='index' @click='chooseEngine(index)'>{{ item.engineName }}</li>
        </ul>
        <input type="search" v-model="searchInput" @keydown.enter="search">
        <a type="button" @click="search" />
    </div>
</template>

<script>
export default ({
    data() {
        return {
            isSelectorShow: false,
            chosenEngineName: 'Bing',
            chosenEngineURL: 'https://cn.bing.com/search?q=',
            searchInput: '',
            engineList: [
                {
                    engineId: 'EG01',
                    engineName: 'Bing',
                    engineURL: 'https://cn.bing.com/search?q=',
                    sortNum: 1
                },
                {
                    engineId: 'EG02',
                    engineName: '百度',
                    engineURL: 'https://www.baidu.com/s?wd=',
                    sortNum: 2
                },
                {
                    engineId: 'EG03',
                    engineName: 'Google',
                    engineURL: 'https://cn.bing.com/search?q=',
                    sortNum: 3
                },                                
            ]
        }
    },
    methods: {
        // 点击搜索引擎选择器,展开/收起选择框
        clickSelector() {
            this.isSelectorShow = this.isSelectorShow ? false : true
        },
        // 点击选择搜索引擎
        chooseEngine(index) {
            if (index === -2) {
                this.isSelectorShow = false
                return;
            }
            this.chosenEngineName = this.engineList[index].engineName
            this.chosenEngineURL = this.engineList[index].engineURL
            this.isSelectorShow = false
        },
        // 搜索
        search() {
            let searchURL = this.chosenEngineURL + this.searchInput
            window.open(searchURL, '_blank')
        }
    }
})
</script>

<style lang="less" scoped>

.nav{
    position: relative;
    margin: 100px 20px 0 20px;
    width: 35vw;
    align-self: center; //父组件是flex布局，这里设置水平居中
    .engine{
        position: absolute;
        top: 0;
        bottom: 0;
        width: 4.2vw;
        height: 4.2vw;
        // 修改下拉框样式
        border-radius: 100px;
        background-color: black;
        color: white;
        font-size: 17px;
        font-weight: 900;
        text-align: center;
        line-height: 4vw;
        option {
            border: none;
            width: 4.2vw;
            height: 4.2vw;
            border-radius: 100px;
        }

    }
    // 选择器遮罩
    .mask{
        width: 100vw;
        height: 100vh;
        position: fixed;
        top: 0;
        left: 0;
        // opacity: 1;
        background: rgba(0,0,0, 0.3);
        // transition-property: opacity;
        // transition-duration: 300ms;
        z-index: 0;
    }
    ul{
        // 使选择项脱离文档流
        position: absolute;
        left: 0;
        top: 4.2vw;
        margin: 1px 0 0 0;
        padding: 0;
        z-index: 1;
        li{
            margin: 2px 0 0 0;
            width: 4.2vw;
            height: 4.2vw;
            border-radius: 100px;
            background-color: white;
            text-align: center;
            line-height: 4vw;
            color: black;
            font-size: 14px;
            font-weight: 400;
            list-style: none;
        }
        li:hover{
            background-color: black;
            color: white;
            font-weight: 900;
        }
    }
    input{
        width: 100%;
        height: 4.2vw;
        padding: 10px 70px;
        outline-style: none;
        border: none;
        border-radius: 100px;

        color: black;
        font-size: 20px;
        font-weight: 200;
        line-height: 50px;
    }
    input:focus{

    }
    a {
        width: 2vw;
        height: 2vw;
        background: url('../../assets/search.png') no-repeat;
        background-size: cover;

        position: absolute;
        right: 15px;
        top: 0;
        bottom: 0;
        margin: auto;
    }
}

</style>