<template>
    <div class="main" title="待办事项" placement="right" :visible="isVisible" :after-visible-change="afterVisibleChange" @close="onClose">
      <div class="inputBox">
        <input v-model="inputVal" placeholder="记下待办事项..." @keydown.enter="addItem" />
        <a-button @click="addItem">+</a-button>
      </div>
        <div class="list-box">
            <div id="todo-title">Todo</div>
            <div class='item' v-for="(item,index) in todoList.todo" :key="index">
                <a-checkbox class="item-cb" :checked=FALSE @change="onChange(index, $event)"></a-checkbox>
                <a-input class="item-input" :value='item'></a-input>    
                <a-button class="item-del-btn" :checked=FALSE type='circle' icon='X' size='small' @click="delItem('todo',index)"></a-button>
                <br>
            </div>
            <div id="done-title">Done</div>
            <div class="item" v-for="(item,index) in todoList.done" :key="index">
                <a-checkbox class="item-cb" :checked=TRUE @change="onChange(index, $event)"></a-checkbox>
                <a-input class="done-item item-input" :value='item'></a-input>    
                <a-button class="item-del-btn" :checked=FALSE type='circle' icon='X' size='small' @click="delItem('done',index)"></a-button>
                <br>
            </div>
        </div>
    </div>
</template>

<script>
export default {
    data() {
        return {
            inputVal: '',
            TRUE: true,
            FALSE: false,
            todoList: {
                todo:[],
                done:[]
            }
        }

    },
    props: {
        isVisible: {
            type: Boolean,
            required: true
        }
    },
    methods: {
        // 从localStorage获取todolist
        getTodoList() {
            let temp_todoList = JSON.parse(localStorage.getItem('todoList'))
            if(temp_todoList) {
                this.todoList = temp_todoList
            }
        },
        // 更新localStorage 的 todolist
        setTodoList() {
            let temp_todoList = JSON.stringify(this.todoList)
            localStorage.setItem('todoList', temp_todoList)
        },
        // todoList 增
        addItem() {
            this.todoList.todo.push(this.inputVal)
            this.inputVal = ''
            this.setTodoList()
        },
        // todoList 删
        delItem(arr, index) {
            this.todoList[arr].splice(index, 1)
            this.setTodoList()
        },
        // todoList 改

        // checkbox改变
        onChange(index, event) {
            if(event.target.checked) {
                // todo -> done
                this.todoList.done.unshift(this.todoList.todo.splice(index, 1)[0])
                this.setTodoList()
            }else {
                // done -> todo
                this.todoList.todo.unshift(this.todoList.done.splice(index, 1)[0])
                this.setTodoList()
            }
        },
        // 抽屉 显示/隐藏 回调函数
        afterVisibleChange() {

        },
        // 关闭抽屉
        onClose() {
            this.$emit('onclose')
        }

    },
    created() {
        this.getTodoList()
    }

}
</script>

<style lang="less" scoped>
.main { 
    width: inherit;
    .inputBox {
        margin: 0 5px 0 5px;
        display: flex;
        flex-wrap: nowrap;
        justify-content: space-between;
        border-bottom: 1px solid rgb(233, 233, 233);
        input{
            padding: 0;
            width: 100%;
            border: none;
        }
        input::placeholder {
            color: lightgray;
        }
        input:focus {
            outline: none;
        }
        button{
            padding: 0 15px 0 5px;
            border: none;
            width: 20px;
            span{
                // 不生效
                // font-size: 28px;
                // font-weight: 100;
                // margin: 0 6px;
                // line-height: 22px;
            }
        }
    }
    .list-box {
        margin: 0 2px 0 5px;
        overflow: auto;    
        height: 185px;
        
    }
    .list-box::-webkit-scrollbar {
        width: 4px;
        height: 70%;
        background-color: white;
        border-radius: 0px;
    }
    .list-box::-webkit-scrollbar-thumb {
        background-color: rgb(218, 218, 218);
        border-radius: 20px;
    }
    #todo-title, #done-title {
        margin-top: 12px;
        font-size: 14px;
        font-weight: 600;
    }
    .item{
        display: flex;
        .item-cb{
            padding: 3px 5px 3px 0;
        }
        .item-input{
            padding: 0;
            border: none;
        }
        .item-del-btn{
            align-self: center;
            border: none;
            background-color: rgba(245, 245, 245);
            font-size: 12px;
            font-weight: 100;
            color: darkgrey;
        }
        .done-item {
            color: lightgray;
            text-decoration: line-through;
            text-decoration-color: gray;
        }

    }
}
</style>