<template>
    <div class="main">
        <img class="pic" :src='imgSrc'>
    </div>
</template>

<script>
import axios from 'axios'
export default {    
    data() {
        return {
            imgSrc: ''
        }
    },
    methods: {
        getBingPic() {
            
            // axios.post('/360bg/?cid=14&format=json', ).then(res => {
            axios.post('https://www.yuanxiapi.cn/api/360bg/?cid=14&format=json', ).then(res => {
                console.log(res)
                if (res?.data.code === 200 && res?.data.url) {
                    this.imgSrc = res.data.url
                }else {
                    this.imgCopyright = '暂无图片'
                }
            })
        }
    },
    created() {
        this.getBingPic()
    }
}
</script>

<style lang="less" scoped>
.main {
    .pic {
        width: inherit;
    }
}
</style>