<template>
    <div class="main" @mouseenter="showBtn" @mouseleave="hideBtn">
        <div class="head">
            <div class="city">
                <select name="city" id="" @change="selectCity($event.target.value)">
                    <option v-for="city,index in cityList" :value="city" :key="index">{{ city }}</option>
                </select>
                <!-- {{ weatherObj.city }} -->
            </div>
            <div class="date">{{ weatherDay }}</div>
        </div>
        <div class="weatherCard" v-for="item,index in weatherObj.data" :key="item.date">
            <div v-show="index == selectedIndex">
                <div class="temp-weather">
                    <div class="switch-btn left" v-show="isLeftSwitchBtnShow" @click="previous">{{ leftArrow }}</div>
                    <div class="center">
                        <div class="temp">{{ item.tem }}</div>
                        <div class="weat">{{ item.wea }}</div>
                    </div>
                    <div class="switch-btn right" v-show="isRightSwitchBtnShow" @click="next">{{ rightArrow }}</div>
                </div>
                <div class="more">
                    <div class="prop">
                        <div class="title">风</div>
                        <div class="windDirection">{{ item.win[0] }}</div>
                        <div class="windPower">{{ item.win_speed }}</div>
                    </div>
                    <div class="prop">
                        <div class="title">湿度</div>
                        <div class="humidity">{{ item.humidity }} </div>
                    </div>
                    <div class="prop">
                        <div class="title">空气质量</div>
                        <div class="humidity">{{ item.air_level }}</div>
                    </div>
                    <div class="prop">
                        <div class="title">紫外线</div>
                        <div class="humidity">{{ item.index[0].level }}</div>
                    </div>
                </div>
            </div>
            <!-- <div class="city">{{ weather.city }}</div>
            <div class="temp-weather">
                <div class="switch-btn left" v-show="isSwitchBtnShow">{{ leftArrow }}</div>
                <div class="center">
                    <div class="temp">{{ weather.temperature }}</div>
                    <div class="weat">{{ weather.weather }}</div>
                </div>
                <div class="switch-btn right" v-show="isSwitchBtnShow">{{ rightArrow }}</div>
            </div>
            <div class="more">
                <div class="prop">
                    <div class="title">风</div>
                    <div class="windDirection">{{ weather.winddirection }}</div>
                    <div class="windPower">{{ weather.windpower }}</div>
                </div>
                <div class="prop">
                    <div class="title">湿度</div>
                    <div class="humidity">{{ weather.humidity }}</div>
                </div>
                <div class="prop">
                    <div class="title">空气质量</div>
                    <div class="humidity">{{ weather.humidity }}</div>
                </div>
                <div class="prop">
                    <div class="title">紫外线</div>
                    <div class="humidity">{{ weather.humidity }}</div>
                </div>
            </div> -->
        </div>
    </div>
</template>

<script>
/* 
axios的post传参数要使用Qs序列化，Qs是axios自带的，不需要再安装。
转成a=1&b=2的格式，不然会报跨域错误 
*/
import axios from 'axios'
import Qs from 'qs'

export default {
    data() {
        return {
            cityList: [
                '顺德',
                '三水',
                '广州',
                '香港',
            ],
            selectedCity: "顺德",
            extensions: "base",
            weather: {},
            weatherObj: {},
            isLeftSwitchBtnShow: false,
            isRightSwitchBtnShow: false,
            leftArrow: '<',
            rightArrow: '>',
            selectedIndex: 0
        }
    },
    props: {},
    computed: {
        weatherDay() {
            // 这里要判断是否存在此属性，因为computed是在created和mounted中(html渲染中)执行的，此时可能还没拿到response、还没赋值
            if (this.weatherObj.data) {
                return this.weatherObj.data[this.selectedIndex].day
            }
            return null
        }
    },
    // vue3弃用filter
    // filters: {
    //     tempFormat(val) {
    //         return val.replace('°C', '')
    //     }
    // },
    methods: {
        tempFormat(val) {
            return val.replace('°C', '')
        },
        getWeather(city, extensions) {
            let param = {
                city: city,
                extensions: extensions
            }
            console.log('------')
            console.log(Qs.stringify(param))
            axios.post("https://www.yuanxiapi.cn/api/theweather/", Qs.stringify(param)).then(res => {
                if (res.status === 200 && res.data?.lives.length > 0) {
                    this.weather = res.data.lives[0]
                }else {
                    alert('出错了！')
                }
            })
        },
        get7daysWeather(city) {
            // let param = {
            //     appid: "85841439",
            //     appsecret: "EKCDLT4I",
            //     city: "CN101280801",
            //     /*
            //         ('CN101280800','foshan','佛山','guangdong','广东','China','中国','foshan','佛山','23.028762','113.122717'),
            //         ('CN101280801','shunde','顺德','guangdong','广东','China','中国','foshan','佛山','22.75851','113.281826'),
            //         ('CN101280802','sanshui','三水','guangdong','广东','China','中国','foshan','佛山','23.16504','112.899414'),
            //         ('CN101280803','nanhai','南海','guangdong','广东','China','中国','foshan','佛山','23.031562','113.145577'),
            //         ('CN101280804','gaoming','高明','guangdong','广东','China','中国','foshan','佛山','22.893855','112.882123'),
            //         ('CN101280805','chancheng','禅城','guangdong','广东','China','中国','foshan','佛山','23.019643','113.112414'),
            //     */
            // }
            axios.get(`https://yiketianqi.com/api?appid=85841439&appsecret=EKCDLT4I&city=${city}`).then(res => {
                console.log(res)
                if (res.status && res.status === 200 && res.data) {
                    this.weatherObj = res.data
                    if (this.weatherObj.data) {
                        this.weatherObj.data.forEach((item) => {
                            item.tem = item.tem.replace('℃', '')
                        })
                    }else {
                        this.weatherObj.data = [
                            {
                                tem: "无",
                                wea: "无",
                                win: "无",
                                win_speed: "无",
                                humidity: "无",
                                air_level: "无",
                                index: "无",

                            }
                        ]
                    }
                }else {
                    console.log('7日天气接口出错了')
                }
            })
        },
        // 选择天气城市
        selectCity(val) {
            this.selectedCity = val
            this.get7daysWeather(this.selectedCity)
        },
        showBtn() {
            if(this.selectedIndex > 0) {
                this.isLeftSwitchBtnShow = true
            }
            if(this.selectedIndex < this.weatherObj?.data.length - 1) {
                this.isRightSwitchBtnShow = true
            }
        },
        hideBtn() {
            this.isLeftSwitchBtnShow = false
            this.isRightSwitchBtnShow = false
        },
        previous() {
            if(this.selectedIndex > 0) this.selectedIndex--
        },
        next() {
            if(this.selectedIndex < this.weatherObj?.data.length-1) this.selectedIndex++
        }
    },
    created() {
        // this.getWeather(this.city, this.extensions)
        this.get7daysWeather()
    }
}
</script>

<style lang="less" scoped>
.main {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    .head {
        display: flex;
        justify-content: space-between;
        .city {
            margin: 8px 15px;
            // text-align: center;
            color: lightgray;
            font-size: 12px;
            select {
                border: none;
                option {
                    border: 1px solid lightgrey;
                    border-radius: 4px;
                    color: darkgray;
                }
            }
        }
        .city::after {
            content: "实时";
            color: white;
            font-weight: 600;
            background-color: rgb(169, 238, 169);
            border-radius: 50px;
            margin-left: 5px;
            padding: 1px 8px;
        }
        .date {
            color: gray;
            font-size: 12px;
            align-self: center;
        }

    }
    .temp-weather {
        display: flex;
        justify-content: space-between;
        margin: 0px 8px 8px 8px;
        .switch-btn {
            position: relative;
            top: auto;
            bottom: 0;
            margin-top: auto;
            margin-bottom: auto;
            width: 25px;
            height: 25px;
            border-radius: 50%;
            background-color: rgb(198, 196, 196);
            // opacity: 70%;
            color: white;
            font-weight: 600;
            text-align: center;
            line-height: 23px;
        }
        .left {
            left: 0;
        }
        .right {
            right: 0;
        }
        .center {
            position: relative;
            left: 0;
            right: 0;
            margin-left: auto;
            margin-right: auto;
            display: flex;
            .temp {
                color: black;
                font-size: 70px;
                font-weight: 600;
                line-height: 70px;
            }
            .temp::after {
                content: "°C";
                font-size: 17px;
                position: absolute;
                top: -16px;
            }
            .weat {
                color: black;
                font-size: 16px;
                align-self: end;
            }
        }
    }
    .more {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: stretch;
        .prop {
            // width: 175px;
            height: 32px;
            background-color: #f5f5f5;
            border-radius: 8px;
            margin: 8px 10px 0 10px;
            padding: 0 10px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            font-size: 12px;
            color: gray;
            .title {

            }
            .windDirection {

            }
            .windPower {

            }
        }
    }
}
</style>
